# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Vite / logs
*.local
*.log
npm-debug.log*
.vite/

# JSON Server generated routes file (if any)
server/routes.json.bak

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Env
.env
.env.*
!.env.example
